{{> navigation page.navigation}}

<div class="scholarshipApplicationList rootSection">
    <div class="ui container">
        <h1>{{ page.heading }}</h1>
        <form class="ui form calendarGroup">
            <div class="fields">
                <div class="ui grid">
                    <div class="sixteen wide tablet eight wide computer column">
                        <div class="field first">
                            {{> datePicker page.calendar.start}}
                        </div>
                        <div class="field">
                            {{> datePicker page.calendar.end}}
                        </div>
                        <div class="field">
                            {{#with page.updateButton}}
                                <button id="{{ id }}" class="ui green button" type="button">{{ text }}</button>
                            {{/with}}
                        </div>
                    </div>
                    <div class="sixteen wide tablet eight wide computer column">
                        {{#with page.searchBar}}
                            <div class="field first">
                                <label>{{ label }}</label>
                                <div id="applicationsListingNameSearch" class="ui right icon input">
                                    <input 
                                        name="{{ name }}"
                                        placeholder="{{ placeholder }}"
                                        type="{{ type }}" 
                                        value="{{lookup @root.queryParams name}}"
                                    >
                                    <i class="search icon"></i>
                                </div>
                            </div>
                        {{/with}}
                    </div>
                </div>
            </div>
        </form>
        {{#if applications.length}}
            <p class="countDescription">{{{inlineInterpolate page.resultCount applications.length}}}</p>
        {{/if}}
        <div class="applications">
            {{#each applications}}
                {{#with this}}
                    <div class="ui raised segments{{#if isFirst}} first{{/if}}">
                        <div class="ui segment">
                            <h2>{{ user.name }}</h2>
                            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                            <p>{{formatDate createdAt}}</p>
                        </div>
                        <div class="ui segment">
                            <p data-hide-target="">{{{addLineBreaks application}}}</p>
                        </div>
                    </div>
                {{/with}}
            {{else}}
                <div class="noResultsWrapper">
                    <p>{{ page.noResultsText }}</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>
