<div id="{{ id }}" class="ui dimmer{{#if customClasses}} {{ customClasses }}{{/if}}"{{#if toggleOnLoad}} data-toggle-dimmer-on-page-load=""{{/if}}>
    <div class="content">
        <div class="center">
            {{#if loader}}
                <div class="ui text loader">
                    {{ text }}
                </div>
            {{else}}
                <span>{{ text }}</span>
            {{/if}}
        </div>
    </div>
</div>
