<div id="{{ id }}" class="ui dimmer{{#if customClasses}} {{ customClasses }}{{/if}}"{{#if toggleOnLoad}} data-toggle-dimmer-on-page-load=""{{/if}}>
    <div class="content">
        <div class="center">
            {{#if loader}}
                <div class="ui text loader">
            {{/if}}
                {{#if @root.user}}
                    <span>{{{md userText true}}}</span>
                {{else}}
                    <span>{{{md defaultText true}}}</span>
                {{/if}}
            {{#if loader}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
