<div id="navigationMenu" class="ui fixed stackable menu navigation">
    <a class="item logo" href="{{ logo.href }}">
        <img src="{{ logo.src }}" alt="{{ logo.alt }}">
    </a>
    {{#each items}}
        {{#if this.isButton}}
            <button
                class="item{{#if this.customClasses}} {{ this.customClasses }}{{/if}}"
                type="button"
                {{#if this.modal}}
                    data-modal="{{ this.modal }}"
                {{/if}}
            >
                {{ this.text }}
            </button>
        {{else}}
            <a
                class="item{{#if this.customClasses}} {{ this.customClasses }}{{/if}}"
                href="{{ this.href }}"
            >
                {{ this.text }}
            </a>
        {{/if}}
    {{/each}}
    <button id="hamburgerButton" class="ui icon button sidebarButton">
        <i class="sidebar icon"></i>
    </button>
</div>
