<div id="navigationMenu" class="ui fixed stackable menu navigation">
    <a class="item logo" href="{{ logo.href }}">
        <img src="{{ logo.src }}" alt="{{ logo.alt }}">
    </a>
    {{#each items}}
        {{> navigationItem this}}
    {{/each}}

    {{! Hard code the auth items because their logic is more complicated }}
    {{#if @root.user}}
        {{#with profileItem}}
            <div class="item {{ customClasses }}">
                <div class="vertical borderless menu">
                    <span class="item noHover">{{interpolate text (lookup @root interpolateFromRoot)}}</span>

                    {{#unless @root.user.isMember}}
                        <div class="item buttonParent">
                            {{> button button}}
                        </div>
                    {{/unless}}
                </div>
            </div>
        {{/with}}
        {{> navigationItem logoutItem}}
    {{else}}
        {{> button loginItem}}
        {{> button joinItem}}
    {{/if}}

    <button id="hamburgerButton" class="ui icon button sidebarButton">
        <i class="sidebar icon"></i>
    </button>
</div>
