{{!--
    Takes:
    tuitionInformation,
    domestic,
    international,
    saveProgram,
    moreInfo,
    program: {
        _id,
        name,
        university: {
            _id,
            name,
            province
        },
        internationalTuition,
        domesticTuition,
        length,
        notes,
        isFavorite
    },
--}}

<div class="ui card programCard" data-program-link="/programs/{{ program._id }}">
    <div class="content heading">
        <div class="header">
            {{ program.name }}
        </div>
    </div>
    <div class="content">
        <div class="ui sub header">{{ program.university.name }}</div>
        <div class="ui sub header basic">{{ program.university.province }}</div>
        <div class="text">{{ program.minimumAverage }}</div>
        <div class="text">{{ program.length }}</div>
    </div>
    <div class="content">
        <div class="ui sub header">{{ tuitionInfomation }}</div>
        <div class="text">
            <span class="bold">{{ domestic }}</span>
            <span>{{{formatCurrencyFlat program.domesticTuition @root.selectedUserLanguage}}}</span>
        </div>
        <div class="text">
            <span class="bold">{{ international }}</span>
            <span>{{{formatCurrencyFlat program.internationalTuition @root.selectedUserLanguage}}}</span>
        </div>
    </div>
    {{#if @root.user}}
        <div class="ui two buttons">
            {{#if program.isFavorite}}
                <div class="ui bottom attached basic red button"
                    data-delete-favorite-program-button=""
                    data-program-id="{{ program._id }}"
                >
                    <i class="delete icon"></i>
                    {{ unSaveProgram }}
                </div>
            {{else}}
                <div
                    class="ui bottom attached basic green button"
                    data-add-favorite-program-button=""
                    data-program-id="{{ program._id }}"
                >
                    <i class="star icon"></i>
                    {{ saveProgram }}
                </div>
            {{/if}}
            <div class="ui bottom attached basic blue button">
                <i class="list alternate icon"></i>
                {{ moreInfo }}
            </div>
        </div>
    {{/if}}
</div>
