{{!--
    Takes:
    tuitionInformation,
    domestic,
    international,
    program: {
        _id,
        name,
        university: {
            _id,
            name
        },
        internationalTuition,
        domesticTuition,
        length,
        notes
    }
--}}

<div class="ui card programCard" data-program-link="/programs/{{ program._id }}">
    <div class="content heading">
        <div class="header">
            {{ program.name }}
        </div>
    </div>
    <div class="content">
        <div class="ui sub header">{{ program.university.name }}</div>
        <div class="text">{{ program.minimumAverage }}</div>
        <div class="text">{{ program.length }}</div>
    </div>
    <div class="content">
        <div class="ui sub header">{{ tuitionInfomation }}</div>
        <div class="text">
            <span class="bold">{{ domestic }}</span>
            <span>{{{formatCurrencyFlat program.domesticTuition @root.selectedUserLanguage}}}</span>
        </div>
        <div class="text">
            <span class="bold">{{ international }}</span>
            <span>{{{formatCurrencyFlat program.internationalTuition @root.selectedUserLanguage}}}</span>
        </div>
    </div>
</div>
