<label>{{ label }}</label>
<input
    type="{{ type }}"
    name="{{ name }}"
    placeholder="{{ placeholder }}"
    data-validate="{{ validationType }}"
    data-error-element-id="{{ errorElement.id }}"
>
<span id="{{ errorElement.id }}" class="formErrorMessage">{{ errorElement.text }}</span>
