<div id="loginModal" class="ui modal small authentication">
    <div class="imageWrapper">
        <img src="{{ image.src }}" alt="{{ image.alt }}">
    </div>
    <div class="header">
        <span>{{ header }}</span>
    </div>
    <div class="content">
        <form
            id="loginForm"
            class="ui form{{#if @root.queryParams.loginError}} error{{/if}}"
            method="post"
            action="/login"
        >
            {{#if @root.queryParams.loginError}}
                <div class="ui error message">
                    <div class="header">
                        <span>{{ form.errorMessage.header }}</span>
                    </div>
                    {{{md (lookup form.errorMessage.body @root.queryParams.loginError)}}}
                </div>
            {{/if}}
            <div class="field">
                <label>{{ form.inputs.user.label }}</label>
                <input type="text" name="{{ form.inputs.user.name }}" placeholder="{{ form.inputs.user.placeholder }}">
            </div>
            <div class="field">
                <label>{{ form.inputs.pass.label }}</label>
                <input type="text" name="{{ form.inputs.pass.name }}" placeholder="{{ form.inputs.pass.placeholder }}">
            </div>
            <div class="field">
                <input class="ui submit button green" type="submit" value="{{ form.inputs.submit }}">
            </div>
        </form>
    </div>
</div>
