<div id="loginModal" class="ui modal small withLogoHeading">
    <i class="close icon"></i>
    <div class="imageWrapper">
        <img src="{{ image.src }}" alt="{{ image.alt }}">
    </div>
    <div class="header">
        <span>{{ header }}</span>
    </div>
    <div class="content">
        <form
            id="loginForm"
            class="ui form{{#if @root.queryParams.loginError}} error{{/if}}"
            method="post"
            action="/login"
            data-validate-form=""
            data-valid-dimmer="{{ form.inputs.submit.dimmerId }}"
        >
            {{#if @root.queryParams.loginError}}
                <div class="ui error message">
                    <div class="header">
                        <span>{{ form.errorMessage.header }}</span>
                    </div>
                    {{{md (lookup form.errorMessage.body @root.queryParams.loginError)}}}
                </div>
            {{/if}}
            <div class="field">
                <label>{{ form.inputs.user.label }}</label>
                <input
                    type="{{ form.inputs.user.type }}"
                    name="{{ form.inputs.user.name }}"
                    placeholder="{{ form.inputs.user.placeholder }}"
                    data-validate="{{ form.inputs.user.validationType }}"
                    data-error-element-id="{{ form.inputs.user.errorElement.id }}"
                >
                <span id="{{ form.inputs.user.errorElement.id }}" class="formErrorMessage">{{ form.inputs.user.errorElement.text }}</span>
            </div>
            <div class="field">
                <label>{{ form.inputs.pass.label }}</label>
                <div class="passwordInputWrapper">
                    <input
                        id="loginPassword"
                        type="{{ form.inputs.pass.type }}"
                        name="{{ form.inputs.pass.name }}"
                        placeholder="{{ form.inputs.pass.placeholder }}"
                        data-validate="{{ form.inputs.pass.validationType }}"
                        data-error-element-id="{{ form.inputs.pass.errorElement.id }}"
                    >
                    <div
                        class="iconWrapper"
                        data-tooltip="{{ form.inputs.pass.tooltip }}"
                        data-password-toggle-target-id="loginPassword"
                    >
                        <i class="eye icon"></i>
                    </div>
                </div>
                <span id="{{ form.inputs.pass.errorElement.id }}" class="formErrorMessage">{{ form.inputs.pass.errorElement.text }}</span>
            </div>
            <div class="field">
                <input class="ui submit button green" type="submit" value="{{ form.inputs.submit.text }}">
            </div>
        </form>
        <div class="ui horizontal divider">
            Or
        </div>
        {{> thirdPartyLoginButtons}}
    </div>
    {{> dimmer dimmer}}
</div>
