<div id="membershipModal" class="ui modal small withLogoHeading extraPaddingOnContent">
    <i class="close icon"></i>
    <div class="imageWrapper">
        <img src="{{ image.src }}" alt="{{ image.alt }}">
    </div>
    <div class="header">
        <span>{{ header }}</span>
    </div>
    <div class="content">
        {{#each descriptionParagraphs}}
            <p>{{{interpolate this @root.prices}}}</p>
        {{/each}}
        <p class="disclaimer">{{ disclaimer }}</p>
        {{#with button}}
            <div class="contentFooter">
                <a href="{{ href }}" data-show-dimmer-on-click="{{ dimmerId }}">
                    <img src="{{ image.src }}" alt="{{ image.alt }}">
                </a>
            </div>
        {{/with}}
    </div>
    {{> dimmer dimmer}}
</div>
