<div id="membershipModal" class="ui modal small withLogoHeading">
    <div class="imageWrapper">
        <img src="{{ image.src }}" alt="{{ image.alt }}">
    </div>
    <div class="header">
        <span>{{ header }}</span>
    </div>
    <div class="content">
        <p>{{ description }}</p>
        <button id="{{ button.id }}" class="ui button basic" type="button" name="{{ button.id }}">
            <img src="{{ button.image.src }}" alt="{{ button.image.alt }}">
        </button>
    </div>
</div>
