{{> navigation page.navigation}}

<div class="profileSection rootSection">
    <div class="ui container">
        <h1>{{ page.heading }}</h1>
        <div class="profileData">
            <div class="row">
                <div class="label">
                    {{ page.headings.name }}
                </div>
                <div class="value">
                    {{ @root.user.name }}
                </div>
            </div>
            <div class="row">
                <div class="label">
                    {{ page.headings.email }}
                </div>
                <div class="value">
                    {{ @root.user.email }}
                </div>
            </div>
            <div class="row">
                <div class="label">
                    {{ page.headings.joined }}
                </div>
                <div class="value">
                    {{{formatDate @root.user.createdAt}}}
                </div>
            </div>
            {{#if @root.user.memberSince}}
                <div class="row">
                    <div class="label">
                        {{ page.headings.member }}
                    </div>
                    <div class="value">
                        {{{formatDate @root.user.memberSince}}}
                    </div>
                </div>
            {{/if}}
            <div class="row">
                {{#with page.referralLink}}
                    <div class="label">
                        {{ heading }}
                    </div>
                    <div class="value">
                        <p>
                            <a
                                id="profileReferralLink"
                                href="{{interpolate href @root.user}}"
                                data-success-title="{{ success.title }}"
                                data-success-message="{{ success.message }}"
                            >
                                {{ text }}
                            </a>
                        </p>
                        <p class="description">{{ description }}</p>
                    </div>
                {{/with}}
            </div>
        </div>
        <div class="promosData">
            <h2>{{ page.headings.promos }}</h2>
            {{#each currentPromos}}
                {{#with this}}
                    <div class="promo ui raised segment">
                        <div class="promoInformation">
                            {{#with promo}}
                                <h3 class="heading">{{ name }}</h3>
                                <h4 class="heading">{{{formatDate startDate}}} {{ @root.page.to }} {{{formatDate endDate}}}</h4>
                                <p class="description">{{{md (interpolate @root.page.promoThreashholdTemplate this) true}}}</p>
                            {{/with}}
                        </div>
                        <div class="referralsList">
                            <h4 class="heading">{{ @root.page.headings.referrals }}</h4>
                            {{#each referrals}}
                                <p>{{math @index '+' 1}}. {{maskEmail this.email}} - {{{formatDate this.createdAt}}}</p>
                            {{else}}
                                <p>{{{md @root.page.noReferrals true}}}</p>
                            {{/each}}
                        </div>
                        <div class="referralsReport">
                            {{#if promo.winner}}
                                <p class="ui orange header">{{ @root.page.winner }}</p>
                            {{else}}
                                {{#cond referrals.length '>=' promo.threashold}}
                                    <p class="ui green header">{{ @root.page.eligible }}</p>
                                {{else}}
                                    <p class="ui orange header">{{inlineInterpolate @root.page.notEligible (math promo.threashold '-' referrals.length)}}</p>
                                {{/cond}}
                            {{/if}}
                        </div>
                    </div>
                {{/with}}
            {{/each}}
        </div>
    </div>
</div>
