{{> navigation}}
<div class="result">
    <img src="http://www.backpackers.ca/images/hostellogos/Western%20University.gif" alt="{{ alt }}" class="programImage">

    <div class="right">
        <h2> {{ page.program }} </h2>
        <h4> {{ page.university }} </h4>

        <p><span>Province:</span> {{ page.province}} </p>
        <p><span>International Tuition:</span> ${{ page.intTuition}} </p>
        <p><span>Domestic Tuition:</span> {{ page.domTuition}} </p>
        <p><span>Minimum Average:</span> {{ page.minAverage}} </p>
        <p><span>Program Length:</span> {{ page.length}} </p>
        <p><span>Program Language:</span> {{ page.language}} </p>
        <p><span>TOEFL Score:</span> {{ page.score}} </p>
    </div>
</div>
