{{> navigation page.navigation}}

<div class="searchResults">
    <h1 class="ui heading">{{ page.heading }}</h1>
    <div class="ui container">
        <div id="" class="ui stackable centered grid">
            <div class="three column row">
                <div class="center aligned column">
                    {{> searchBar
                        id='searchUniversityFilter'
                        placeholder=@root.page.placeholders.university
                        hide=false
                        value=searchInfo.university
                        customClasses="center aligned"
                    }}
                </div>
                <div class="center aligned column">
                    {{> searchBar
                        id='searchProvinceFilter'
                        placeholder=@root.page.placeholders.province
                        hide=false
                        value=searchInfo.province
                        customClasses="center aligned"
                    }}
                </div>
                <div class="center aligned column">
                    {{> searchBar
                        id='searchNameFilter'
                        placeholder=@root.page.placeholders.name
                        hide=false
                        value=searchInfo.name
                        customClasses="center aligned"
                    }}
                </div>
            </div>
            <div class="row">
                <button id="searchFilterSubmit" class="ui green button">{{ page.filterSubmit }}</button>
            </div>
        </div>
        <div class="ui link cards centered">
            {{#each programs}}
                {{>
                    programCard
                    @root.page.cards
                    program=this}}
            {{else}}
                {{#if overQuota}}
                    <div class="ui warning icon message">
                        <i class="triangle exclamation icon"></i>
                        <div class="content">
                            <div class="header">
                                {{ @root.page.overQuota.heading }}
                            </div>
                            {{#if user}}
                                <p>
                                    {{{md @root.page.overQuota.memberBody true}}}
                                </p>
                            {{else}}
                                <p>
                                    {{{md @root.page.overQuota.visitorBody true}}}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                {{else}}
                    <div class="ui warning icon message">
                        <i class="triangle exclamation icon"></i>
                        <div class="content">
                            <div class="header">
                                {{ @root.page.noResults.heading }}
                            </div>
                            <p>
                                {{ @root.page.noResults.body }}
                            </p>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>

    {{#if programs.length}}
        <div class="paginationWrapper">
            {{#if user.isMember}}
                <div id="dataPaginationMenu" class="ui pagination menu">
                    {{#unless isFirstPage}}
                        <div class="icon item" data-page="{{math currentPage '-' 1}}">
                            <i class="left arrow icon"></i>
                        </div>
                    {{/unless}}

                    <div class="item active">
                        {{math currentPage '+' 1}}
                    </div>

                    {{#unless isLastPage}}
                        <div class="icon item" data-page="{{math currentPage '+' 1}}">
                            <i class="right arrow icon"></i>
                        </div>
                    {{/unless}}
                </div>
            {{/if}}

            <div class="paginationInfo">
                <span>{{ page.pagination.results }}</span>
                <span class="value">{{ rangeLow }}</span>
                <span>{{ page.pagination.divider }}</span>
                <span class="value">{{ rangeHigh }}</span>
                <span>{{ page.pagination.of }}</span>
                <span class="value">{{ count }}</span>
            </div>
            {{#unless user.isMember}}
                <div class="memberPlug">
                    {{#if user}}
                        <span>{{{ page.pagination.memberPlug.isSignedIn }}}</span>
                    {{else}}
                        <span>{{{ page.pagination.memberPlug.notSignedIn }}}</span>
                    {{/if}}
                </div>
            {{/unless}}
        </div>
    {{/if}}
</div>
