{{> navigation page.navigation}}

<div class="passwordEditSection rootSection">
    <div class="ui container">
        <div class="buttonWrapper">
            <a href="/profile" class="ui blue button">{{ page.returnToProfile }}</a>
        </div>
        <h1 class="heading">{{ page.heading }}</h1>
        <form
            id="passwordEditForm"
            class="ui form {{#if formHandlingError}} error{{/if}}"
            method="post"
            data-validate-form
        >
            {{#if formHandlingError}}
                <div class="ui error message">
                    <div class="header">
                        <span>{{ page.errorMessage.heading }}</span>
                    </div>
                    <p>{{{ page.errorMessage.body }}}</p>
                </div>
            {{/if}}

            <div class="field">
                <label>{{ page.newPassword.label }}</label>
                <input
                    id="{{ page.newPassword.id }}"
                    type="{{ page.newPassword.type }}"
                    name="{{ page.newPassword.name }}"
                    placeholder="{{ page.newPassword.placeholder }}"
                    data-validate="{{ page.newPassword.validationType }}"
                    data-error-element-id="{{ page.newPassword.errorElement.id }}"
                >
                <span id="{{ page.newPassword.errorElement.id }}" class="formErrorMessage">{{ page.newPassword.errorElement.text }}</span>
            </div>
            <div class="field">
                <label>{{ page.confirmNewPassword.label }}</label>
                <input
                    id="{{ page.confirmNewPassword.id }}"
                    type="{{ page.confirmNewPassword.type }}"
                    name="{{ page.confirmNewPassword.name }}"
                    placeholder="{{ page.confirmNewPassword.placeholder }}"
                    data-validate="{{ page.confirmNewPassword.validationType }}"
                    data-error-element-id="{{ page.confirmNewPassword.errorElement.id }}"
                    data-validation-target-id="{{ page.newPassword.id }}"
                >
                <span id="{{ page.confirmNewPassword.errorElement.id }}" class="formErrorMessage">{{ page.confirmNewPassword.errorElement.text }}</span>
            </div>
            <div class="field">
                <input class="ui submit button green" type="submit" name="" value="{{ page.submit }}">
            </div>
        </form>
    </div>
</div>