{{> navigation page.navigation}}

<div class="profileSection rootSection">
    <div class="ui container">
        <div class="editButtonWrapper">
            <a href="/profile/edit" class="ui blue button">{{ page.editProfile }}</a>
        </div>
        <h1>{{ page.heading }}</h1>
        <div class="profileData">
            <div class="row">
                <div class="label">
                    {{ page.headings.name }}
                </div>
                <div class="value">
                    {{ @root.user.name }}
                </div>
            </div>
            <div class="row">
                <div class="label">
                    {{ page.headings.email }}
                </div>
                <div class="value">
                    {{ @root.user.email }}
                </div>
            </div>
            <div class="row">
                <div class="label">
                    {{ page.headings.joined }}
                </div>
                <div class="value">
                    {{{formatDate @root.user.createdAt}}}
                </div>
            </div>
            {{#if @root.user.memberSince}}
                <div class="row">
                    <div class="label">
                        {{ page.headings.member }}
                    </div>
                    <div class="value">
                        {{{formatDate @root.user.memberSince}}}
                    </div>
                </div>
            {{/if}}
        </div>
        {{#if currentPromos.length}}
            <div class="promosData">
                <h2>{{ page.headings.promos }}</h2>
                <p class="promosDescription">{{ page.promoDescription }}</p>
                <div class="referralButtonWrapper">
                    {{#with page.referralLink}}
                        <a
                            id="profileReferralLink"
                            class="ui green button"
                            href="{{interpolate href @root.user}}"
                            data-success-title="{{ success.title }}"
                            data-success-message="{{ success.message }}"
                        >
                            {{ text }}
                        </a>
                        <p class="failSafe">
                            <span>{{ failSafe }}</span><br>
                            <a href="{{interpolate href @root.user}}" data-set-text-as-href="true">{{interpolate href @root.user}}</a>
                        </p>
                    {{/with}}
                </div>
                {{#each currentPromos}}
                    {{#with this}}
                        <div class="promo ui raised segment">
                            <div class="promoInformation">
                                <h3 class="heading name">{{ name }}</h3>
                                <h4 class="heading dateRange">{{{formatDate startDate}}} {{ @root.page.to }} {{{formatDate endDate}}}</h4>
                                <p class="description">{{{md (interpolate @root.page.promoThreashholdTemplate this) true}}}</p>
                            </div>
                            <div class="referralsList">
                                <h4 class="heading">{{ @root.page.headings.referrals }}</h4>
                                {{#each referrals}}
                                    <p>{{math @index '+' 1}}. {{maskEmail this.email}} - {{{formatDate this.createdAt}}}</p>
                                {{else}}
                                    <p>{{{md @root.page.noReferrals true}}}</p>
                                {{/each}}
                            </div>
                            <div class="referralsReport">
                                {{#if winner}}
                                    <p class="ui orange header">{{ @root.page.winner }}</p>
                                {{else}}
                                    <p class="ui green header">{{ @root.page.noWinner }}</p>
                                {{/if}}
                            </div>
                        </div>
                    {{/with}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>
