<!DOCTYPE html>
<html class="no-js" lang="{{ selectedUserLanguage }}">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123404888-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-123404888-1');
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta property="fb:app_id" content="{{ page.fb_appid }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:site_name" content="{{ page.site_name }}">
        {{#if social_image}}
            <meta property="og:image" content="{{ social_image }}">
            <meta name="twitter:image" content="{{ social_image }}">
        {{/if}}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ page.twitter_handle }}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:creator" content="{{ page.twitter_handle }}">
        <link rel="apple-touch-icon" sizes="57x57" href="/public/images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/public/images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/public/images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/public/images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/public/images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/public/images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/public/images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/public/images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/public/images/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/public/images/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/public/images/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/public/images/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/public/images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {{#each page.assets.stylesheets}}
            <link rel="stylesheet" href="{{ this }}"/>
        {{/each}}

        {{#each page.assets.scripts.header}}
            <script src="{{ this }}"></script>
        {{/each}}
    </head>
    <body>
        {{{ body }}}

        {{#if queryParams.paypalSuccess}}
            {{> notification page.notifications.paypalSuccess}}
        {{/if}}
        {{#if queryParams.searchError}}
            {{> notification page.notifications.searchError}}
        {{/if}}
        {{#if queryParams.profileDeleteSuccess}}
            {{> notification page.notifications.profileDeleteSuccess}}
        {{/if}}
        {{#if queryParams.profileUpdated}}
            {{> notification page.notifications.profileUpdated}}
        {{/if}}
        {{#if queryParams.passwordEditSucces}}
            {{> notification page.notifications.passwordEditSucces}}
        {{/if}}
        {{#if queryParams.programFavoriteSaveSuccess}}
            {{> notification page.notifications.programFavoriteSaveSuccess}}
        {{/if}}
        {{#if queryParams.programFavoriteDeleteSuccess}}
            {{> notification page.notifications.programFavoriteDeleteSuccess}}
        {{/if}}
        {{#if queryParams.passwordResetSuccess}}
            {{> notification page.notifications.passwordResetSuccess}}
        {{/if}}

        {{#if page.login}}
            {{> modals/login page.login}}
        {{/if}}
        {{#if page.signUp}}
            {{> modals/signUp page.signUp}}
        {{/if}}
        {{#if page.membership}}
            {{> modals/membership page.membership}}
        {{/if}}
        {{#if page.deleteProfileModal}}
            {{> modals/deleteProfile page.deleteProfileModal}}
        {{/if}}
        {{#if checkCasl}}
            {{> modals/setCasl page.checkCasl}}
        {{/if}}

        {{> backEndGlobalImport}}

        {{#each page.assets.scripts.footer}}
            <script src="{{ this }}"></script>
        {{/each}}
    </body>
</html>
